header[role="banner"] {
      display: block;
      margin: 50px auto;
  }
  

.volRadio {
    display: inline;
}

#clearInputs {
  float: right;
}

#filterCase {
  
}

.col-12 p span {
  
}